body {  
  margin: 0;
  max-height: 100vh;
  font-family: 'Montserrat', sans-serif;
}


.taxi-image {
  height: 700px;
  width: 100%;
  background-image: url(../assets/images/taxi.jpg);
  background-size: cover;
  background-position: 50% 93%;
}

.taxi-box {
  position: absolute;
  top: 200px;
  right: 15px;
  font-size: 1.5em;
}

hr {
	background-color: #fff;
	width: 25%;
	height: 1px;
}

.cell-box{
  height: auto;
}

.cell-image{
  background-image: url(../assets/images/iPhone6Plus.png);
  width: 100%;
  height: 500px;
  background-repeat: no-repeat;
}

.conduce-image{
  background-image: url(../assets/images/conduce.jpg);
  height: 400px;
  width: 100%;
  background-size: cover;
  background-position: 50% 50%;
}

.conduce-box{
  background-color: rgba(0,0,0, 0.5);
  height: 400px;
}

.tarifas{
  width: 101%;
}

.when-mobile{
  display: none;
}

@media screen and (max-width: 575px) {
  .when-mobile{
    display: block;
    font-size: 1.4rem;
  }

  .when-desktop{
    display: none;
  }

  .taxi-box{
    height: 40%;
    padding-left: 10%;
  }
 
}
